[scenario]
	id=03_Mages
    name= _ "03 The Mages"
    next_scenario=04_The_Clash

    map_file=03_Mages.map
    {TURNS 26 24 22}
    {DEFAULT_SCHEDULE}

    #beginning hard, in general easy, problem when not every units. someone else recruit?

    #Szenario Intro
    [story]
        [part]
            show_title=yes
            story = _ "Fleeing, again fleeing, always fleeing! He was always running from something. First responsibility, then Fal Khag now the damn humans. 
But it was no help he needed to find out what to do!

Tragtrad liked to start with the positives, and those were, that most of Rormuks Horde now followed him, at least what was left of it. That also included some goblin riders again, which meant he no longer had to fear an ambush behind every corner. 
Also they crossed the way of some trolls and this time they had no choice, but to follow him.
            
(1/2)"  
            {JOURNEY_03_NEW}
        [/part]
        [part]
            show_title=yes
            story = _ "Negative was, that they were freezing to death, winter was starting and it seemed like one of the coldest in years. Thus, he feared, his revenge on Fal Khang was going to die with him.

Because he had nothing else to do whilst his horde was resting, he spend time with his prisoner, who was very talkative too. He told of a fortress in the mountains where they would be safe from the weather.
Tragtrad tried to find out how to best plunder wesnoth, for his glory, but his prisoner seemed convinced it was a pipedream, that would never work.

He had no better option but to trust this human and so he searched mountainside after mountside, whilst time was running thin.            
(2/2)"
            {JOURNEY_03_NEW}
        [/part]
        [part]
            background=bigmap.png
            {JOURNEY_03_NEW}
        [/part]
    [/story]
#------

    #Sides #Tragtrad
	[side]
        type=Bloodthorn Orcish Leader
        id=Tragtrad
        side=1
        controller=human
        recruit=Wolf Rider,Troll Whelp
        team_name=Tragtrad_Orcs

        #Economy
        {GOLD 400 300 200}
        {INCOME 10 4 0}
		[village]
			x=17
			y=25
		[/village]
		[village]
			x=22
			y=26
		[/village]
		[village]
			x=22
			y=29
		[/village]
		[village]
			x=26
			y=24
		[/village]
		[village]
			x=29
			y=21
		[/village]
		[village]
			x=29
			y=26
		[/village]
   
        [unit]
            id=Manma
            name= _ "Manma"
            unrenamable=yes
            type=$Prisoner_Manma.type
            side=1
            x,y=22,27
            experience=$Prisoner_Manma.experience
            random_traits=no
            [modifications]
                {TRAIT_LOYAL_HERO}
            [/modifications]
        [/unit]
	[/side]

    #Left dark mage
    [side]
        type=Shadow Mage
        id=Orion
        name= _ "Orion"
        side=2
        team_name=mages
        controller=ai
        recruit=Rogue Mage,Thief,Orcish Assassin
        profile="portraits/Orion.png"

        #Economy
        {GOLD 50 80 100}
        {INCOME 0 8 6}
    [/side]

    #Light Mage
	[side]
		type=Mage of Light
		id=Peter
		name= _ "Peter"
		side=3
        team_name=mages
		recruit=White Mage,Young Ogre,Vampire Bat

        #KI
        controller=ai
        [ai]
            recruitment_pattern=White Mage,White Mage,Young Ogre,White Mage,White Mage,Young Ogre,Vampire Bat,White Mage,White Mage,Young Ogre,White Mage,White Mage,Young Ogre
            [avoid]
                [filter]
                    x,y=28,2#how?
                [/filter]
                radius=1
            [/avoid]
        [/ai]

        #Economy
        {GOLD 50 80 100}
        {INCOME 0 8 6}
	[/side]

    #Fire Mage
	[side]
		type=Arch Mage
		id=Dieter
		name= _ "Dieter" #face sw TODO
		side=4
        team_name=mages
		recruit=Red Mage,Young Ogre,Vampire Bat

        #KI
        controller=ai
        [ai]
            recruitment_pattern=Red Mage,Red Mage,Young Ogre,Red Mage,Red Mage,Young Ogre, Vampire Bat
           [avoid]
                [filter]
                    x,y=28,2
                [/filter]
                radius=1
            [/avoid]
        [/ai]

        #Economy
        {GOLD 50 80 100}
        {INCOME 0 8 6}
	[/side]

    #Right dark mage
	[side]
		type=Dark Sorcerer
		id=Mag Onalds
		name= _ "Mag Onalds"
		side=5
        team_name=mages
		recruit=Dark Adept,Thief,Ghoul

        #KI
        controller=ai
        [ai]
            [avoid]
                [filter]
                    x,y=28,2
                [/filter]
                radius=1
            [/avoid]
        [/ai]

        #Economy
        {GOLD 50 80 100}
        {INCOME 0 8 6}
        controller=ai
	[/side]

    #Special attack book
    {PLACE_IMAGE items/book2.png 15 2}
    [event]
        name=moveto
        first_time_only=no
        [filter]
            side = 1
            x=15
            y=2
        [/filter]
        [if]
            [variable]
                name=book_taken 
                equals=no
            [/variable]
            [then]
                [message]
                speaker=unit
                message= _ "There is a book here, shall I try to read it? <The unit will gain a fire and arcane range attack>"
                [option]
                    label= _ "Read it."
                    [command]
                        [object]
                            id=fireBook
                            name= _ "Book of Fire"
                            image=items/book2.png 
                            duration=forever
                            description= _ "Barly deciphering the runes you feel a new power residing within you."
                            cannot_use_message= _ "You are not worthy."
                            [filter]
                                x=15
                                y=2
                            [/filter]
                            [then]
                                [remove_item]
                                    x,y= 15, 2
                                [/remove_item]
                                {REMOVE_IMAGE 15 2}
                                [message]
                                    speaker=narrator
                                    message= _ "The book turned into dust in the units hands."
                                [/message] 
                            [/then]
                            [effect]
                                apply_to=new_attack
                                name=sceptre of fire
                                description= _ "Fire ball"
                                icon=attacks/fireball.png
                                type=fire
                                range=ranged
                                [specials]
                                    {WEAPON_SPECIAL_MAGICAL}
                                [/specials]
                                damage=5
                                number=2
                                [set_variable]
                                    name=book_taken
                                    value=yes
                                [/set_variable]
                            [/effect]
                            [effect]
                                apply_to=new_attack
                                name=shadow wave
                                description=_"shadow wave"
                                icon=attacks/dark-missile.png
                                type=arcane
                                range=ranged
                                [specials]
                                    {WEAPON_SPECIAL_MAGICAL}
                                [/specials]
                                damage=5
                                number=2
                                [set_variable]
                                    name=book_taken
                                    value=yes
                                [/set_variable]
                            [/effect]
                        [/object]
                    [/command]
                [/option]
                [option]
                        label= _ "Books are nothing for us."
                [/option]
                [/message]
            [/then]
        [/if]
    [/event]

    #Map Change
    [time_area]
        id = Meuchlerhaupt
        x=0,    1,    2,    3,      4,      5,      6,      7,      8,      9,      10,     11,     12,     13
        y=0-17, 0-17, 0-17, 0-17,   0-17,   1-18,   1-17,   10-18,  12-18,  13-19,  14-18,  15-18,  15-17,  16-17
        {MIDNIGHT}
    [/time_area]
    [time_area]
        id = Lightmage
        x=5,        6,      7,      8,      9,      10,     11,     12,     13,     14,     15,     16
        y=0-0,      0-0,    0-9,    0-11,   0-12,   0-13,   0-14,   0-14,   0-15,   0-16,   0-16,   14-15
        {MIDDAY}
    [/time_area]
    [time_area]
        id = Redmage
        x=16,       17,     18,     19,     20,     21,     22,     23,     24,     25,     26
        y=0-9,      0-9,    0-6,    0-6,    0-5,    0-5,    0-3,    0-3,    0-2,    0-2,    0-2
        {DAWN}
    [/time_area]

    #Objectives
    [event]
        name=prestart
        [objectives]
            side=1
            [objective]
                description= _ "Kill all Enemy Leaders"
                condition=win
            [/objective]
            [objective]
                description= _ "Death of Umaduro"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of Tragtrad"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of Manma"
                condition=lose
            [/objective]
            {TURNS_RUN_OUT}
            [gold_carryover]
                bonus=yes
                carryover_percentage=20
            [/gold_carryover]
        [/objectives]
        [recall]
            id=Umaduro
        [/recall]   
        [unit] 
            id=Manma
            name= _ "Manma"
            unrenamable=yes
            type=$Prisoner_Manma.type
            side=1
            x=22
            y=27
            experience=$Prisoner_Manma.experience
            random_traits=no
            [modifications]
                {TRAIT_LOYAL_HERO}
                {TRAIT_QUICK}
            [/modifications]
        [/unit]
	[/event]

    #Starting conversation
    [event]
        name=start
        [set_variable]
            name=book_taken
            value=no
        [/set_variable]
        [message]
            speaker=Tragtrad
            message= _ "What is this place?"
        [/message]
        [message]
            speaker=Manma
            message= _ "I've heared rumours, wasn't sure to believe them, but apparently they are true."
        [/message]
        [message]
            speaker=Umaduro
            message= _ "You weren't sure?? But still let us look for it whilst freezing!"
        [/message]
        [message]
            speaker=Tragtrad
            message= _ "Cousin calm. So human?"
        [/message]
        [message]
            speaker=Manma
            message= _ "A School for all sorts of Mages, that are or aren't welcome in wesnoth anymore."
        [/message]
        [message]
            speaker=Tragtrad
            message= _ "AY MAGES WE JUST LOOKING FOR A PLACE TO REST THIS WINTER."
        [/message]
        [message]
            speaker=Peter
            message= _ "You've found us."
        [/message]
        [message]
            speaker=Dieter
            message= _ "Prepare to die!"
        [/message]
    [/event]

    #Hint-Talk
    [event]
        name=turn 4 end
        [message]
            speaker=Umaduro
            message= _ "Hmmm, you see the magical light/darkness in their keeps?"
        [/message]
        [message]
            speaker=Tragtrad
            message= _ "Now that you say it... That's gonna be a problem?"
        [/message]
    [/event]

    #hint talk mage
    [event]
        name=turn 3 end
        [message]
            speaker=Tragtrad
            message= _ "Human, how did you know about this place?"
        [/message]
        [message]
            speaker=Manma
            message= _ "I have a friend who often stayed at the court of my father, he lives here somewhere and hates the other mages, maybe he'll help us."
        [/message]
        [message]
            speaker=Manma
            message= _ "But if he really still lives here, I should talk to him, he doesn't like strangers. Or Orks."
        [/message]
    [/event]

    #hint talk mage two
    [event]
        name=turn 5 end
        [message]
            speaker=Tragtrad
            message= _ "Human, where is this old court-friend of yours?"
        [/message]
        [message]
            speaker=Manma
            message= _ "I don't know, but it will be a bit apart from the others, they would avoid him."
        [/message]
        [message]
            speaker=Umaduro
            message= _ "You are just trying to waist our time human."
        [/message]
        [message]
            speaker=Manma
            message= _ "Will you ever believe me?"
        [/message]
    [/event]

    #assasin/Orion story 1
    [event]
        name=unit placed
        first_time_only=yes
        [filter]
            type=Orcish Assassin
        [/filter]
        [message]
            speaker=Tragtrad
            message= _ "Why are Orcs fighting in their ranks?"
        [/message]
        [message]
            speaker=Umaduro
            message= _ "Strange, maybe when we kill this so called Orion, we will find out."
        [/message]
    [/event]

    #assasin/Orion story 2
    [event]
        name=unit placed
        first_time_only=yes
        [filter]
            side=2
            type=Rogue Mage, Thief
        [/filter]
         [unit]
            id=dudo
            name= _ "Dudor"
            type=Orcish Assassin
            x=2
            y=10
            side=2
            moves=0
            [modifications]
                {TRAIT_QUICK}
                {TRAIT_RESILIENT}
            [/modifications]
            [/unit]
            
        [gold]
            side=2
            amount=-17
        [/gold]

    [/event]
    
    #assasin/Orion story 3
    [event]
        name=last breath
        [filter]
            id=Orion
        [/filter]
        [message]
            speaker=Orion
            message= _ "Wait, don't kill me, I can help you."
        [/message]
        [message]
            speaker=Tragtrad
            message= _ "Mm?"
        [/message]
        [message]
            speaker=Orion
            message= _ "You don't have any assasins in your ranks. If you let me go I can lead you to a hidden assassins for hire school."
        [/message]
        [message]
            speaker=Tragtrad
            message= _ "Alright, your life is on the line.
                        TAKE HIM PRISONER!"
        [/message]
        [message]
            speaker=Umaduro
            message= _ "Another one? Does not seem smart to me..."
        [/message]
    [/event]

    #time normal west
    [event]
        name=die
        [filter]
            id=Orion
        [/filter]
        [time_area]
            id =Meuchlerhaupt
            remove = yes
        [/time_area]
        [message]
            speaker=Umaduro
            message= _ "The magic veil seems to be receding."
        [/message]
    [/event]

    #time normal northwest
    [event]
        name=die
        [filter]
            id=Peter
        [/filter]
        [time_area]
            id =Lightmage
            remove = yes
        [/time_area]
        [message]
            speaker=Umaduro
            message= _ "The magic veil seems to be receding."
        [/message]
        
        {PLACE_IMAGE items/book4.png 1 1}


    [/event]

    #time normal north east
    [event]
        name=die
        [filter]
            id=Dieter
        [/filter]
        [time_area]
            id =Redmage
            remove = yes
        [/time_area]
        [message]
            speaker=Umaduro
            message= _ "The magic veil seems to be receding."
        [/message]
    [/event]

    #finde Gutmagier
    [event]
        name= moveto
        first_time_only=no
        [filter]
            side = 1
            x,y = 28,2 
        [/filter]
        [message]
            speaker=unit
            message= _ "This hut seems to be empty, but I'm not really sure about that."
        [/message]
    [/event]

    #erschaffe gutenmagier
    [event]
        name= moveto
        first_time_only=yes
        [filter]
            side =1
            id = Manma
            x,y = 28,2 
        [/filter]
        [unit]
            id=Volk
            name= _ "Volk"
            unrenamable=yes
            type=Shady Mage
            side=1
            x,y=28,3
            random_traits=no
            [modifications]
                {TRAIT_LOYAL}
            [/modifications]
            profile="portraits/volk.png"
        [/unit]
        [message]
            speaker=Manma
            message= _ "Wait here is my friend!" 
        [/message]
        [message]
            speaker=Volk
            message= _ "You fighting against them mages? I'll help you."
        [/message]
        [message]
            speaker=Manma
            message= _ "Volk, you seem... changed." 
        [/message]
    [/event]

    {Volk_DARK}

	#Defeats
	[event]
        name=last breath
        [filter]
            id=Umaduro
        [/filter]

        [message]
            speaker=Tragtrad
            message= _ "Noo! Without your advice there is no chance!"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
	
	[event]
        name=last breath
        [filter]
            id=Tragtrad
        [/filter]

        [message]
            speaker=Tragtrad
            message= _ "Well this is over..."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
	
	[event]
        name=last breath
        [filter]
            id=Manma
        [/filter]

        [message]
            speaker=Tragtrad
            message= _ "Damn he was crucial to the plan"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]

    [event]
        name=time over
        [message]
            speaker=Tragtrad
            message= _ "Noo, Winter is coming"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]

    #Victory
    [event]
        name=enemies defeated
        [endlevel]
            result=victory
            bonus=yes
            {NEW_GOLD_CARRYOVER 20}
        [/endlevel]
    [/event]

[/scenario]