[scenario]
    id=04_The_Clash
    name= _ "The Clash"
    next_scenario =05_Finale

    map_file =04_The_Clash.map
    {TURNS 30 20 10}
    {DEFAULT_SCHEDULE}
    
    #Szenario Intro
    [story]
        [part]
            story = _ "Tragtrad and his horde used the winter to gather themselves and formulate plans what to do next summer
            
(1/4)"
        [/part]
        [part]
            story= _ "Umaduro was sent with gold to hire the assasins Helicrom talked about
            
(2/4)"
        [/part]
        [part]
            story= _ "But when he came back with his hired knifes something had changed. Tragtrad spent too much more time with his prisoners, talking long nights with them and making plans, but he wouldn't tell what they were. Until one night Umaduru saw Helicorn go free.
            
(3/4)"
        [/part]
        [part]
            story= _ "The snow began to melt and the time was ripe for new campaigns
            
(4/4)"
        [/part]
    [/story]

    #Sides
    [side]
        type= Orcish Leader
        id = Tragtrad
        side = 1
        controller=human
        recruit=Orcish Assassin
        team_name=orcs
        fog=yes

        #Economy
        {GOLD 500 300 200}
        {INCOME 4 2 0}
    [/side]

    [side]
        type = Elvish Druid
        id=adrea
        name=_ "adrea"
        side = 2
        team_name= elves
        recruit=Elvish Captain,Elvish Archer,Elvish Shaman

        #KI
        controller= ai
        [ai]
            recruitment_pattern=Elvish Captain,Elvish Captain,Elvish Shaman,Elvish Archer,Elvish Archer,Elvish Archer,Elvish Archer,Elvish Archer
            grouping=defensive
        [/ai]
        
        #Economy
        {GOLD 120 120 120}
        {INCOME -2 2 6}
    [/side]

    #gleicher dude wie an der furt
    [side]
        type=Lieutenant
        id=Manherr
        side=3
        color=teal 

        #KI
        controller=ai
        [ai]
            aggression =0.8
            village_value=0.1
            leader_value=15
            retreat_factor=0.1
            [goal] 
                name=target
                [criteria]
                    id=Tragtrad
                [/criteria]
                value=26
            [/goal]
        [/ai]

        #Economy
        {GOLD 200 250 300}
        {INCOME -8 -4 -2}
    [/side]

    #wenn du ihr besiegst joint er dir TODO
    [side]
        type = Orcish Ruler
        id=GraGra
        name=_ "GraGra"
        side = 4 
        recruit=Orcish Warrior, Orcish Crossbowman,Troll Rocklobber,Wolf Rider
        controller= ai

        #Economy
        {GOLD 240 240 240}
        {INCOME -2 2 6}

        #besondere aufgabe der unit mit ki? TODO
        [unit]
            id=Death
            name= _ "Death"
            type=Orcish Nightblade
            canrecruit=yes
            experience=13
            max_moves=0
            x=60
            y=31
            [modifications]
                {TRAIT_LOYAL}
                {TRAIT_QUICK}
            [/modifications]
        [/unit]

        [unit]
            type= Troll Rocklobber
            experience=18
            x=68
            y=32
            max_moves=0
            [modifications]
                {TRAIT_LOYAL}
            [/modifications]
        [/unit]
    [/side]

    [side]
        type=Merman Soldier King
        id=Kai Flullis
        name= _ "Kai Flullis"
        side=5 
        recruit=Merman Citizen, Merman Fighter, Merman Hunter, Mermaid Initiate
        team_name=elves

        #Economy
        {GOLD 0 0 0}
        {INCOME -2 2 -2}

        #KI
        controller= ai
        [ai]
            passive_leader = yes
        [/ai]
    [/side]

        #Map Change
    [label]
        x,y=28,5
        text= _ "TARGET"
    [/label]

    #Objectives
    [event]
        name=prestart

        {PLACE_IMAGE items/chest-plain-closed.png 6 4}

        [objectives]
            side=1
            [objective]
                description= _ "Reach the signpost on the westernmost edge of the map
                Move Tragtrad to the signpost in the northwest"
                condition=win
            [/objective]
            [objective]
                description= _ "Death of Umaduro"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of Tragtrad"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of Manma"
                condition=lose
            [/objective]
            [note]
                description= _ "If you defeat the southern orc he will join you"
            [/note]
            {TURNS_RUN_OUT}
            [gold_carryover]
                bonus=yes
                carryover_percentage=40
            [/gold_carryover]
        [/objectives]

        [recall]
        id=Umaduro
        [/recall]
        [recall]
        id=Manma
        [/recall]

    [/event]

    #Starting conversation
    [event]
        name=start
        [message]
            speaker=Tragtrad
            message= _ "The Fog is so thic I can barly see my own hand. Men carful, we don't know what dangers lurke in before us."
        [/message]
        [message]
            speaker=Tragtrad
            message= _ "Many of you might wonder what we are doing? I will tell you! We are attacking the heart of wesnoth itself, weldyn. Follow me and there will be songs of your herioc acts long after your grandchildren have wanderd Ilyra!"
        [/message]
        [message]
            speaker=Umaduro
            message= _ "Very prodent to raise morale in the troops, but how will you accomplish this if I might ask? I think you remember what happened the last time we tried to attacked wesnoth? Let alone weldyn"
        [/message]
        [message]
            speaker=Tragtrad
            message= _ "Thinking ahead as always my cousin, I like it. But you shall know: Helicrom has friends in the woods south of the river and he told me that in the beginning of spring when the river is the biggest a crossing opens, that we can use."
        [/message]
        [message]
            speaker=Umaduro
            message= _ "You still trust these humans? But, But... we have fought them since forever, we have no reason to trust each other!"        
        [/message]
        [message]
            speaker = Manma
            message = _ "I am right here..."
        [/message]
        [message]
            speaker=Tragtrad
            message= _ "Believe me they have reason enough to stay with us..."
        [/message]
        [message]
            speaker=Umaduro
            message= _ "Even if your humans don't lead us into death, how do imagine we will be able to go home, I doubt they'll just let us go after we attack their capital."        
        [/message]
        [message]
            speaker=Tragtrad
            message= _ "All in due time cousin, in due time. Now I have send some guards ahead, they should be here somewhare, if not for that damn fog. Out goal is to reach that river and fast, we have no time to spare!"
        [/message]
    [/event]

    #Balance
    [event]
        name = enter_hex
        first_time_only =true
        [filter]
            x = 64
            y= 14
            side = 1
            radius = 4 #DOES NOT WORK AS INTENDED some notes internet
        [/filter]
        [message]
            speaker = Tragtrad
            message = _ "Ahh there they are, I knew they were here somewhere"
        [/message]
        [unit]#DON'T see tourgh fog TODO
        type = Orcish Crossbowman
        x=57
        y=13
        [/unit]

        [unit]
        type = Orcish Warrior
        id = Guard
        x=53
        y=12
        [/unit]

        [unit]
        type = Orcish Crossbowman
        x=45
        y=15
        [/unit]
    [/event]

    #TODO Show leader
    [event]
        name=sighted
        [filter]
            side=4
        [/filter]
        [filter_second]
            side=2
        [/filter_second]
        [message]
            speaker=adrea
            message= _ "You have stayed here to long, it's time for you to die"
        [/message]
        [message]
            speaker=GraGra
            message= _ "You are funny elve come try me you will learn how much oricish blades like elvish blood"
        [/message]
        
    [/event]

    [event]
        name=sighted
        [filter]
            side=4
        [/filter]
        [filter_second]
            side=1
        [/filter_second]
        [message]
            speaker=GraGra
            message= _ "Father is that you? The fog is so thic"
        [/message]
        [message]
            speaker=Death
            message= _ "Obviously not brother... there are far too many men. Father went with many many less orcs."
        [/message]
        [message]
            speaker=GraGra
            message= _ "AYE Who are you?"
        [/message]
        [message]
            speaker=Tragtrad
            message= _ ""
        [/message]
        [message]
            speaker=GraGra
            message= _ "you just signed your DEATH warrant"
        [/message]
    [/event]

    [event]
        name=sighted
        [filter]
            side=3
        [/filter]
        [filter_second]
            side=1
        [/filter_second]
        [message]
            speaker=Manherr
            message= _ "There you are, i finally found you, a whole year where you hiding, you will regret killing my brothers"
        [/message]
        [message]
            speaker=Manma
            message= _ "Brother I am still alive, let the orcs through"
        [/message]
        [message]
            speaker=Manherr
            message= _ "You are alive!, but what are you talking about"
        [/message]
        [message]
            speaker=Manma
            message= _ "Trust me brother."
        [/message]
        [message]
            speaker=Manherr
            message= _ "you are not in your right mind, I'll help you"
        [/message]
        [message]
            speaker=Manma
            message= _ "He will not listen, I have to talk to him personally, lead me into his camp!"
        [/message]
        [message]
            speaker=Umaduro
            message= _ "you cannot be serious"
        [/message]
        [objectives]
            side=1
            [objective]
                description= _ "Reach the signpost on the westernmost edge of the map
                Move Tragtrad to the signpost in the northwest"
                condition=win
            [/objective]
            [objective]
                description= _ "Lead Manma into the camp of the humans, to stop the attacks from the north!"
                condition=win
            [/objective]
            [objective]
                description= _ "Death of Umaduro"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of Tragtrad"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of Manma"
                condition=lose
            [/objective]
            [note]
                description= _ "If you defeat the southern orc he will join you"
            [/note]
            {TURNS_RUN_OUT}
            [gold_carryover]
                bonus=yes
                carryover_percentage=40
            [/gold_carryover]
        [/objectives]
    [/event]

    #Bonus goal maybe already when half dead
    [event]
        name = last breath
        [filter]
            id=GraGra
        [/filter]
        [message]
            speaker=GraGra
            message= _ "Noo! Don't kill me"
        [/message]
        [message]
            speaker=Tragtrad
            message= _ "This again..."
        [/message]
        [message]
            speaker=GraGra
            message= _ "I can help you, me and my orcs can help you."
        [/message]
        [message]
            speaker=Tragtrad
            message= _ "Your Orcs? No orc is going to follow sombody that whinses and begs like you"
        [/message]
        [message]
            speaker=Death
            message= _ "That's true..."
        [/message]
        #Todesanimation durch "Death" TODO
        [message]
            speaker=Death
            message= _ "As said, my Orcs can follow you,"
        [/message]
        [side]
            side = 4
            team_name = orcs
            #does not work
        [/side]
    [/event]
    #Helicrom tod?

	#Defeats
    [event]
        name=last breath
        [filter]
            id=Umaduro
        [/filter]

        [message]
            speaker=Tragtrad
            message= _ "Noo! Without your advice there is no chance!"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]

    [event]
        name=last breath
        [filter]
            id=Tragtrad
        [/filter]

        [message]
            speaker=Tragtrad
            message= _ "Well this is over..."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    
    [event]
        name=time over
        [message]
            speaker=Tragtrad
            message= _ "We are taking to long, the plan has failed before it has begun"
        [/message]
    [/event]

    #Zwischen - Victory
    [event]
        name=moveto
        first_time_only=yes
        [filter]
        side =1
            x=28
            y=5
            id=Tragtrad
        [/filter]
        [unit]
        id = Helicrom
        name= _ "Helicrom"
        type = Shadow Lord
        side = 1
            x=28
            y=6
        random_traits=no
        [modifications]
            {TRAIT_LOYAL}
        [/modifications]
        [/unit]


        [gold]
            side=5
            amount=120
        [/gold]

        [message]
            speaker = Helicrom
            message = _ "Ok there we are just here can you cross the great river"
        [/message]
        
        [message]
            speaker = Umaduro
            message = _ "You are still alive? We should have killed you"
        [/message]
        [message]
            speaker = Tragtrad
            message = _ "Quiet cousin. Helicrom I trust your peers await."
        [/message]
        
    [/event]

        #Victory
    [event]
        name=enemies defeated
        [endlevel]
            result=victory
            bonus=yes
            {NEW_GOLD_CARRYOVER 10}
        [/endlevel]
    [/event]

[/scenario]