
#define ABILITY_TROLL_INSPIRE
    [leadership]
        id=troll_leadership
        value="(25 * (level - other.level + 1))"
        cumulative=no
        name= _ "Troll Inspire"
        description= _ "This unit can inspire own trolls that are next to it, making them fight better. Adjacent own trolls of lower or equal level will deal 25% more damage plus 25% for each level they are below the inspiring unit."
        affect_self=no
        [affect_adjacent]
            [filter]
                type=Troll Whelp, Troll, Troll Rocklobber, Troll Warrior
            [/filter]
        [/affect_adjacent]
    [/leadership]
#enddef

#define ABILITY_NOOWNPOISON
    [dummy]#Does nothing -need Macro TRAIT_UNPOISON 
        name= _ "Poison Immunity"
        description= _ "TODO With the dark arts, come certain 'perks' for example while learning how to control dead bodies, one learns how to make ones own body immune to normal mortals issues like poison Some put their own saftey as the most important thing to achieve, to help with that they have learned how to cure a unit of poison."
    [/dummy]
#enddef
